<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
    <file>./src/</file>
    <file>./fau-degree-program-output.php</file>

    <arg value="sp"/>
    <arg name="colors"/>
    <config name="testVersion" value="8.0-"/>
    <config name="text_domain" value="fau-degree-program-output"/>
    <config name="ignore_warnings_on_exit" value="1"/>

    <rule ref="Inpsyde">
    </rule>

    <rule ref="Inpsyde.CodeQuality.Psr4">
        <properties>
            <property
                    name="psr4"
                    type="array"
                    value="Fau\DegreeProgram\Output=>src"
            />
        </properties>
    </rule>

    <rule ref="Inpsyde.CodeQuality.NoAccessors.NoGetter">
        <exclude-pattern>Cache.php</exclude-pattern>
    </rule>

    <rule ref="Inpsyde.CodeQuality.NoAccessors.NoSetter">
        <exclude-pattern>Cache.php</exclude-pattern>
    </rule>

    <exclude-pattern>*/vendor/*</exclude-pattern>
</ruleset>
