@use '../../../abstracts/config';
@use '../../../base/base';

.c-active-search-filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: flex-start;
  @extend %container-paddings;

  @include config.media('>tablet') {
    padding: 0;
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 10px;
    margin-bottom: 15px;

    @include config.media('>tablet') {
      margin-bottom: 0;
      flex: 1;
      min-width: 0;
    }

    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  &__item {
    background-color: config.color('button', 'bg');
    color: #fff !important;
    padding: 2px 10px;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    box-shadow: none !important;
    text-decoration: none !important;
    @include config.text-size('sm');

    .fau-icon {
      fill: #fff;
      width: 8px;
      height: 8px;
      margin-right: 8px;
      box-shadow: none !important;
      padding: 0 !important;
    }
  }

  &__clear-all-button {
    color: config.color('button', 'bg');
    box-shadow: none !important;
    text-decoration: none !important;
    display: inline-flex;
    align-items: center;

    &:hover {
      color: config.color('button', 'bg') !important;
    }

    .fau-icon {
      box-shadow: none !important;
      margin-right: 8px;
      width: 12px;
      height: 12px;
      padding: 0 !important;
    }
  }
}
