@use '../../../abstracts/config';

.c-filter-dropdown {
  width: 100%;
  border-top: solid 1px;
  border-color: config.color('content', 'borders');

  @include config.media('>tablet') {
    border-radius: 3px;
    border: solid 1px;
    border-color: config.color('content', 'borders');

    &[aria-expanded=true] {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 15px;
    height: 50px;
    cursor: pointer;

    @include config.media('>tablet') {
      height: 40px;

      @include config.when-inside('.c-filter-dropdown--advanced-filters[aria-expanded=true]') {
        &::before {
          content: '';
          background-color: #fff;
          position: absolute;
          top: 100%;
          height: 22px;
          left: -1px;
          right: -1px;
          z-index: 25;
          border-right: 1px solid;
          border-left: 1px solid;
          border-color: config.color('content', 'borders');
        }
      }
    }
  }

  &__label {
    color: config.color('primary', 'ci-hell2-kontrast');
    margin-right: auto;
    @include config.text-size('base');
  }

  &__count {
    background-color: config.color('button', 'bg');
    color: #fff;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include config.text-size('xxs');
  }

  &__arrow {
    margin-left: 15px;

    .fau-icon {
      width: 16px;
      height: 16px;
      fill: config.color('button', 'bg');

      @include config.when-inside('.c-filter-dropdown[aria-expanded=true]') {
        transform: scaleY(-1);
      }
    }
  }

  &__content {
    // padding: 0 15px;
    background: #fff;

    &::before {
      content: none;
      position: absolute;
      top: -40px;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: transparent;
      box-shadow: 0 4px 7px rgb(0 0 0 / 45%);
      border-radius: inherit;
      z-index: -1;
    }

    @include config.when-parent-matches-selector(
      ':not([aria-expanded=true])',
      '.c-filter-dropdown'
    ) {
      display: none;
    }

    @include config.media('>tablet') {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #fff;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      z-index: 20;

      &::before {
        content: '';
      }

      @include config.when-inside('.c-filter-dropdown--advanced-filters') {
        top: calc(100% + 20px);
        border-top-right-radius: 3px;
        border: solid 1px #{config.color('content', 'borders')};

        &::before {
          top: 0;
        }
      }
    }

    @include config.media('>tablet-lg') {
      @include config.when-inside('.c-filter-dropdown--advanced-filters') {
        border-top-left-radius: 3px;
      }
    }
  }

  &:not(&--advanced-filters) {
    position: relative;

    .c-filter-checkbox {
      margin: 0 !important;
      padding: 0 !important;

      .c-filter-checkbox__inner {
        display: flex;
        padding: 12px 10px !important;
        border-top: solid 1px #{config.color('content', 'borders')};
      }

      input[type='checkbox']:checked,
      input[type='radio']:checked {
        & ~ .c-filter-checkbox__inner {
          background-color: config.color('grey', 'light');
        }
      }
    }
  }
}
