@use '../abstracts/config';

.c-details {
  margin: 0;
  background-color: config.color('ContentRegions');
  padding: 10px;

  @include config.media('>tablet') {
    border-radius: config.borderRadius();
  }

  dt,
  dd {
    margin: 0;
    display: inline;
  }

  dt {
    font-weight: bold;

    &::after {
      display: inline;
      content: ':';
    }
  }

  .c-detail {
    margin-bottom: 5px;
    padding-left: 24px;
    position: relative;
    break-inside: avoid;

    p {
      padding: 0;
    }

    .fau-icon {
      fill: config.color('branding', 'primary');
      position: absolute;
      left: 0;
      top: 5px;
      background: none;
    }
  }
}
