@use '../abstracts/config';

.c-link {
  padding: 15px 30px;
  border-radius: 5px;
  border: solid 1px config.color('content', 'borders');
  text-decoration: none !important;
  box-shadow: none !important;
  display: block;
  text-align: center;
  font-weight: bold;
  max-width: 500px;

  @include config.text-size('xl');

  .fau-icon {
    padding: 0 !important;
    box-shadow: none !important;
    height: 0.8em;
    vertical-align: baseline;
  }

  &--dark {
    color: config.color('button', 'text') !important;
    background-color: config.color('button', 'bg');
    border-color: config.color('button', 'bg');
  }

  &:hover {
    color: config.color('button', 'hover-text') !important;
    background-color: config.color('button', 'hover-bg');
    border-color: config.color('button', 'hover-bg');
  }

  &:not(:hover) {
    &:focus,
    &:active {
      color: currentcolor !important;
    }
  }
}
