@use '../abstracts/config';

%container-paddings {
  padding-left: 15px;
  padding-right: 15px;
}

%container {
  max-width: config.$max-width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @extend %container-paddings;

  @include config.media('>tablet') {
    max-width: 750px;
  }

  @include config.media('>tablet-lg') {
    max-width: 970px;
  }

  @include config.media('>laptop') {
    max-width: 1200px;
  }

  @include config.media('>desktop') {
    max-width: 1400px;
  }
}

%container-mobile-full-width {
  @extend %container;

  @include config.media('<=tablet') {
    padding-left: 0;
    padding-right: 0;
  }
}

.fau-icon {
  width: 1em;
  height: 1em;
  display: inline-flex;
  vertical-align: middle;
  fill: currentcolor;
}
