@use "../../abstracts/config";

&__combinations {
	margin-bottom: 1em;

	h3 {
		padding: 0;
	}

	ul {

		@include config.container-gt("tablet", "single-degree-program") {
			column-count: 2;
		}

		@include config.container-gt("laptop", "single-degree-program") {
			column-count: 3;
		}
	}

	p {
		margin-top: 0.5em;
	}
}
