@use "../../abstracts/config";

&__featured-video {
	margin-top: 40px;
	margin-bottom: 30px;

	@extend %container-mobile-full-width;

	@include config.media(">tablet") {
		margin-top: 60px;
		margin-bottom: 60px;
	}
}
