$colorsMap: (
    // Primary colors
    primary: (
        basis: #04316a,
        basis-kontrast: #fff,
        ci-hell: #04316a,
        ci-hell-kontrast: #fff,
        ci-hell2: #ced9e7,
        ci-hell2-kontrast: #000000,
        dunkler: #004a9f,
        dunkler-kontrast: #fff,
        dunkelste: #041e42,
        dunkelste-kontrast: #fff,
    ),

    // Button colors
    button: (
        text: #fff,
        bg: #004a9f,
        hover-text: #fff,
        hover-bg: #041e42,
    ),
    ghostbutton: (
        hover-text: #fff,
        hover-bg: #04316a,
    ),

    // Branding Colors
    branding: (
        primary: #04316a,
        zentral: #04316a,
        phil: #fdb735,
        med: #18b4f1,
        nat: #7bb725,
        rw: #c50f3c,
        tf: #8c9fb1,
    )
);

$fontSizesMap: (
    xs: .75rem, // 12px
    sm: .875rem, // 14px
    base: 1rem, // 16px
    lg: 1.125rem, // 18px
    xl: 1.25rem, // 20px
    2x: 2rem, // 32px
);
